<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к PostgreSQL -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>

        <!-- Диалект PostgreSQL -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Вывод SQL в консоль (для отладки) -->
        <property name="show_sql">true</property>

        <!-- Автоматическое управление схемой БД -->
        <property name="hbm2ddl.auto">update</property>
    </session-factory>
</hibernate-configuration>